{% extends 'base.html.twig' %}

{% block title %}Facturation{% endblock %}

{% block body %}
    <h1>Facturation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ facturation.id }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ facturation.montant }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ facturation.date ? facturation.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_facturation_index') }}">back to list</a>

    <a href="{{ path('app_facturation_edit', {'id': facturation.id}) }}">edit</a>

    {{ include('facturation/_delete_form.html.twig') }}
{% endblock %}
