{% extends 'base.html.twig' %}

{% block title %}Hospitalisation{% endblock %}

{% block content%}
    <h1>Hospitalisation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hospitalisation.id }}</td>
            </tr>
            <tr>
                <th>DateEntre</th>
                <td>{{ hospitalisation.dateEntre ? hospitalisation.dateEntre|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateSortie</th>
                <td>{{ hospitalisation.dateSortie ? hospitalisation.dateSortie|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Chambre</th>
                <td>{{ hospitalisation.chambre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_hospitalisation_index') }}">back to list</a>

    <a href="{{ path('app_hospitalisation_edit', {'id': hospitalisation.id}) }}">edit</a>

    {{ include('hospitalisation/_delete_form.html.twig') }}
{% endblock %}
