{% extends 'base.html.twig' %}

{% block title %}Patient index{% endblock %}

{% block content%}
    <h1>Patient index</h1>

<div class="data-table-container">
    <table id="example" class="table table-striped " style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Âge</th>
                <th>Sexe</th>
                <th>GS</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.nom }}</td>
                <td>{{ patient.prenom }}</td>
                <td>{{ patient.age }}</td>
                <td>{{ patient.sexe }}</td>
                <td>{{ patient.GS }}</td>
                <td>{{ patient.mobile }}</td>
                <td>{{ patient.email }}</td>
                <td>{{ patient.adresse }}</td>
                <td>
                    <a href="{{ path('app_patient_show', {'id': patient.id}) }}">show</a>
                    <a href="{{ path('app_patient_edit', {'id': patient.id}) }}">edit</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="10">Aucun enregistrement trouvé</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<a class="btn btn-lg btn-primary" href="{{ path('app_patient_new') }}">Create new</a>

{% endblock %}
