{% extends 'base.html.twig' %}

{% block title %}Consultation{% endblock %}

{% block content%}
    <h1>Consultation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ consultation.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ consultation.date ? consultation.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Motif</th>
                <td>{{ consultation.motif }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ consultation.description }}</td>
            </tr>
            <tr>
                <th>Resultat</th>
                <td>{{ consultation.resultat }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ consultation.poids }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ consultation.Taille }}</td>
            </tr>
            <tr>
                <th>Temperature</th>
                <td>{{ consultation.Temperature }}</td>
            </tr>
            <tr>
                <th>Fréquence_cardiaque</th>
                <td>{{ consultation.FréquenceCardiaque }}</td>
            </tr>
            <tr>
                <th>Tension</th>
                <td>{{ consultation.Tension }}</td>
            </tr>
            <tr>
                <th>Fréquence_respiratoire</th>
                <td>{{ consultation.FréquenceRespiratoire }}</td>
            </tr>
            <tr>
                <th>Diurese</th>
                <td>{{ consultation.Diurese }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_consultation_index') }}">back to list</a>

    <a href="{{ path('app_consultation_edit', {'id': consultation.id}) }}">edit</a>

    {{ include('consultation/_delete_form.html.twig') }}
{% endblock %}
