{% extends 'base.html.twig' %}

{% block title %}PriseService{% endblock %}

{% block content%}
    <h1>PriseService</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prise_service.id }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ prise_service.dateDebut ? prise_service.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ prise_service.dateFin ? prise_service.dateFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_prise_service_index') }}">back to list</a>

    <a href="{{ path('app_prise_service_edit', {'id': prise_service.id}) }}">edit</a>

    {{ include('prise_service/_delete_form.html.twig') }}
{% endblock %}
