<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    
    {% block stylesheets %}
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet"/>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet"/>
    {% endblock %}

    {% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body class="d-flex flex-column vh-100">
    {% block body %}
    <div id="body" class="d-flex flex-grow-1">
        <aside id="sidebar" class="bg-dark text-white d-flex flex-column p-3 expand">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="lni lni-grid-alt"></i>
                </button>
                <div class="sidebar-logo ms-3">
                    <a href="#" class="text-white">CodzSword</a>
                </div>
            </div>
            <ul class="sidebar-nav mt-3 flex-grow-1">
                <li class="sidebar-item mb-2">
                    <a href="#" class="sidebar-link d-flex align-items-center">
                        <i class="lni lni-home me-2"></i>
                        <span>Acceuil</span>
                    </a>
                </li>
                <li class="sidebar-item mb-2">
                    <a href="#" class="sidebar-link d-flex align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#auth">
                        <i class="lni lni-users me-2"></i>
                        <span>Patient</span>
                    </a>
                    <ul id="auth" class="sidebar-dropdown list-unstyled collapse ms-3">
                        <li class="sidebar-item mb-1">
                            <a href="{{ path('app_patient_index') }}" class="sidebar-link">Liste des patients</a>
                        </li>
                        <li class="sidebar-item mb-1">
                            <a href="{{ path('app_patient_new') }}" class="sidebar-link">Ajouter un patient</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item mb-2">
                    <a href="#" class="sidebar-link d-flex align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#rdv">
                        <i class="lni lni-agenda me-2"></i>
                        <span>Rendez-Vous</span>
                    </a>
                    <ul id="rdv" class="sidebar-dropdown list-unstyled collapse ms-3">
                        <li class="sidebar-item mb-1">
                            <a href="{{ path('app_rdv_index') }}" class="sidebar-link">Liste des RDV</a>
                        </li>
                        <li class="sidebar-item mb-1">
                            <a href="{{ path('app_rdv_new') }}" class="sidebar-link">Ajouter un RDV</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item mb-2">
                    <a href="#" class="sidebar-link d-flex align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#consultation">
                        <i class="lni lni-agenda me-2"></i>
                        <span>Consultation</span>
                    </a>
                    <ul id="consultation" class="sidebar-dropdown list-unstyled collapse ms-3">
                        <li class="sidebar-item mb-1">
                            <a href="{{ path('app_consultation_index') }}" class="sidebar-link">Liste des Consultations</a>
                        </li>
                        <li class="sidebar-item mb-1">
                            <a href="{{ path('app_consultation_new') }}" class="sidebar-link">Ajouter une Consultation</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item mb-2">
                    <a href="#" class="sidebar-link d-flex align-items-center">
                        <i class="lni lni-popup me-2"></i>
                        <span>Notification</span>
                    </a>
                </li>
                <li class="sidebar-item mb-2">
                    <a href="#" class="sidebar-link d-flex align-items-center">
                        <i class="lni lni-cog me-2"></i>
                        <span>Setting</span>
                    </a>
                </li>
            </ul>
            <div class="sidebar-footer mt-auto">
                <a href="#" class="sidebar-link d-flex align-items-center">
                    <i class="lni lni-exit me-2"></i>
                    <span>Logout</span>
                </a>
            </div>
        </aside>

        <div id="content" class="flex-grow-1 p-3">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% endblock %}

    {% block javascript %}
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/script.js') }}"></script>
    {% endblock %}
</body>
</html>
