{% extends 'base.html.twig' %}

{% block title %}Rdv{% endblock %}

{% block body %}
    <h1>Rdv</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rdv.id }}</td>
            </tr>
            <tr>
                <th>DatePrise</th>
                <td>{{ rdv.datePrise ? rdv.datePrise|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateRdv</th>
                <td>{{ rdv.dateRdv ? rdv.dateRdv|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Motif</th>
                <td>{{ rdv.motif }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_rdv_index') }}">back to list</a>

    <a href="{{ path('app_rdv_edit', {'id': rdv.id}) }}">edit</a>

    {{ include('rdv/_delete_form.html.twig') }}
{% endblock %}
